.alert{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    align-items: baseline;
}

.alert_button_delete{
    padding-left: 10px;
    display: inline-block;
    padding: 1px 2px;
    border: 1px solid red;
    background-color: #edbaba;
    color: red;
    text-decoration: none;
    border-radius: 15px;
}


.alert_button_delete:hover {
    background-color: #fff;
} 